# IDE / OS
.vscode/
.idea/
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env.local

# Backend
backend/venv/
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.pytest_cache/

#Enviroment Variables / secret
.env
.env.*


# Python cache
**/__pycache__/
*.pyc

# ML (Future)
ml/venv/
ml/__pycache__/
ml/*.py[cod]

# Demo Data
demo-data/*.csv
demo-data/*.json
