@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-secondary: #0ea5e9;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}
